
    /*咨询按钮style*/
    #submit{
      border-radius:10px;
      position:relative;
      top:-25px;
    }
    #submit:hover{
      color:#fff;
      background:#ff99ff;
      background-color:#ff99ff;
    }
    #submit:active{
       color:#fff;
      background:#f78db8;
      background-color:#f78db8;
    }
    /*投诉按钮style*/
    #complain{
      border-radius:10px;
        position:relative;
      top:-25px;
    }
    #complain:hover{
      color:#fff;
      background:#99ccff;
      background-color:#99ccff;
    }
    #complain:active{
       color:#fff;
      background:#97d3c5;
      background-color:#97d3c5;
    }
    /*表扬按钮style*/
    #praise{
      border-radius:10px;
      position:relative;
      top:-25px;
    }
    #praise:hover{
      color:#fff;
      background:#ffcc00;
      background-color:#ffcc00;
    }
    #praise:active{
       color:#fff;
      background:#fc6;
      background-color:#fc6;
    }
    /*服务按钮style*/
    #service{
      border-radius:10px;
        position:relative;
      top:-25px;
    }
    #service:hover{
      color:#fff;
      background:#cc66ff;
      background-color:#cc66ff;
    }
    #service:active{
       color:#fff;
      background:#af91e1;
      background-color:#af91e1;
    }
.time{
  position:relative;
  top:-50px;
  left:300px;
}